<div class="image <%= "w#{image.grid_width} h#{image.grid_height}" %>">
  <div class="image-content" style="background-image: url('<%= ix_image_url image.image_path, auto: 'format,compress' %>');"></div>
</div>
