<div class="media-object">
  <%= ix_image_tag(
    media_object.image_path(:original),
    auto: 'format,compress',
    fit: 'crop',
    class: 'img-fluid',
    h: 1500
  ) if media_object.image_path.present? %>
  <h3 class="title"><%= media_object.title %></h3>
  <div class="desc">
    <%= markdown media_object.body.html_safe %>
  </div>
  <% if media_object.link.present? %>
    <div class="link">
      <%= link_to 'Learn More', media_object.link, class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>