<div class="media-object">
  <%= ix_image_tag(
    media_object.image_path(:original),
    auto: 'format,compress',
    fit: 'crop',
    class: 'img-fluid'
  ) %>
  <h3><%= media_object.title %></h3>
  <div class="desc">
    <%= markdown media_object.body.html_safe %>
  </div>
</div>