<article class="menu-special">
  <% if special_item.attachment.present? %>
  <div class="image">
    <%= image_tag(special_item.image_path, alt: special_item.alt_text) %>
  </div>
  <% end %>
  <div class="text">
    <div class="tag"><%= special_item.day %></div>
    <h3 class="title"><%= special_item.title %></h3>
    <hr>
    <div class="description">
      <%= markdown special_item.description %>
    </div>
  </div>
</article>