$white: #ffffff;
$gray100: #f9f9f9;
$gray400: #8f8f8f;
$gray800: #404040;
$gray900: #272727;
$black: #000000;
$cream: #f6f7ea;
$olive: #8f8c36;
$olive-dark: #737128;
$navy: #2f3f51;

// JS Object
:export {
  white: $white;
  gray100: $gray100;
  gray400: $gray400;
  gray800: $gray800;
  gray900: $gray900;
  black: $black;
  cream: $cream;
  olive: $olive;
  oliveDark: $olive-dark;
  navy: $navy;
}
