$brown: #2B200F;
$green: #959620;
$light-gray: #e1dfc7;
$beige: #f6f7ea;

$font-family-sans-serif: "adelle-sans", sans-serif;
$font-family-serif: "adelle", serif;
$font-family-bold: "refrigerator-deluxe", sans-serif;

$brand-primary: $green;
$font-family-base: $font-family-serif;
$font-size-base: 22px;
$line-height-base: 1.515;