<%# ---
name: Careers
fields:
  button_label: string
  button_url: string
regions:
  - main
features:
  - media_object
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<%= render_grouped_features %>

<p class="text-center">
  <%= link_to current_object.blocks.button_label.body, current_object.blocks.button_url.body, target: :blank, class: 'btn btn-primary' %>
</p>
