<%# ---
name: Careers
fields:
  application_url: string
regions:
  - main
features:
  - media_object
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<%= render_grouped_features %>

<p class="text-center">
  <%= link_to 'Apply For A Position', current_object.blocks.application_url.body, target: :blank, class: 'btn btn-primary' %>
</p>
