<%# ---
name: Content Page
fields: {}
regions:
  - main
features:
  - content_block
  - media_object
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<div class="inner-container">
	<%= render_grouped_features %>
</div>