<%# ---
name: Homepage
fields: {}
regions:
  - main
features:
  - content_block
  - header
  - image
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<div class="lead text-center"><%= markdown current_object.body %></div>

<div class="intro border-top-dotten text-center">
  <%= render_feature(:header) %>
</div>

<div class="masonry">
  <%= render_feature(:image) %>
</div>
