<%# ---
name: Homepage
fields: {}
regions:
  - main
features:
  - content_block
  - header
  - image
--- %>

<% content_for :jumbotron do %>
  <header style="background-image: url(<%= ix_image_url(current_object.attachment.file.path(:jumbotron), auto: 'format,compress') if current_object.attachment.present? %>)">
    <div class="container text-center">
      <h1 class="text-inverted"><%= current_object.title %></h1>
    </div>
  </header>
<% end %>

<div class="lead text-center"><%= markdown current_object.body %></div>
<%= render_grouped_features %>
