<%# ---
name: Location
fields:
  address: string
regions:
  - main
features:
  - content_block
  - header
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<div class="row justify-content-between">
  <%= render_grouped_features %>
  <div class="map col-sm-8">
    <img src="http://placehold.it/600x350?text=Map">
  </div>
</div>
