<%# ---
name: Location
fields:
  address: string
regions:
  - main
features:
  - content_block
  - header
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<%= render_grouped_features %>

<p>
  Map will go here ...
</p>
