<%# ---
name: Location
fields:
  address: string
regions:
  - main
features:
  - content_block
  - header
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<%= render_grouped_features %>

<div class="map-container">
  <img src="http://placehold.it/600x350?text=Map">
</div>
