<%# ---
name: Menu
fields: {}
regions:
  - main
features:
  - header
  - menu_item
--- %>

<% content_for :jumbotron do %>
  <%= render 'public/partials/jumbotron' %>
<% end %>

<%= render 'public/partials/subnav' %>

<h2><%= current_object.title %></h2>
<%= render_grouped_features %>