html {
  opacity: 0;
  visibility: hidden;

  &.wf-active {
    opacity: 1;
    transition: visibility 0.25s linear, opacity 0.25s linear;
    visibility: visible;
  }
}

body {
  background: image-url('bg-dark-wood.jpg') center 1440px;
}

.container {
  max-width: 60rem;
  @include make-container();
}

.inner-container {
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    width: 80%;
  }
}