html {
  opacity: 0;
  visibility: hidden;

  &.wf-active,
  &.wf-inactive {
    opacity: 1;
    transition: visibility 0.25s linear, opacity 0.25s linear;
    visibility: visible;
  }
}

body {
  background: url('//kitchen1883-production.imgix.net/ample_admin/attachments/files/000/000/048/original/bg-dark-wood.jpg?ixlib=rails-2.1.4&format=auto,compress') center 1440px;
}

.container {
  max-width: 60rem;
  @include make-container();
}

.inner-container {
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    width: 80%;
  }
}