.global-footer {
  border-top: .375rem solid rgba($white, 0.15);
  margin-top: 7.5rem;
  overflow: hidden;
  padding: 6rem 0 9.5rem;
  position: relative;
  text-align: center;

  &:before {
    background-image: image-url('kitchen-1883-logo-stacked.svg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 18rem;
    bottom: -5rem;
    content: ' ';
    display: block;
    height: 100%;
    height: 500px;
    opacity: 0.175;
    position: absolute;
    right: -3rem;
    width: 100vw;
    z-index: -1;
  }

  .logo {
    display: inline-block;
    margin-bottom: 2rem;
    width: 16rem;
  }

  .nav {
    margin-bottom: 1.75rem;
    display: block;
    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .nav-link {
    display: inline-block;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .nav-item:first-child a {
    padding-left: 1rem;
    @include media-breakpoint-up(md) {
      padding-left: 0;
    }
  }

  .social-links a {
    color: $yellow;
    display: inline-block;
    margin-right: 1.25rem;

    i {
      font-size: 1.5rem;
    }
  }

  .copyright {
    bottom: 1.75rem;
    color: $white;
    font-family: $font-family-adelle-sans;
    font-size: .75rem;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}
