&.content-blocks { 
  padding-top: 2.875rem;
  text-align: center;




  // ---------------------------------------- | Home

  .template-index & {
    .content-title {
      font-family: $font-family-refrigerator-deluxe;
      font-size: 2.25rem;
      text-transform: uppercase;

      &:before {
        content: '{ ';
      }

      &:after {
        content: ' }';
      }
    }

    p {
      font-size: 1.125rem;
      margin: 1.5rem;
    }

    em {
      color: $yellow;
      font-style: normal;
    }

    strong {
      display: block;
      font-family: $font-family-adelle-sans;
      margin: 1.5rem 0 -1.5rem;
    }
  }




  // ---------------------------------------- | Menu

  .template-menu & {
    @extend .border-top-dotted;
    border-top: 2px solid $yellow-dark;
    font-family: $font-family-adelle-sans;
    font-size: .7875rem;
    padding-top: 3.25rem;
    text-align: left;

    &:before {
      background-color: $yellow-dark;
      background-image: none;
      height: .25rem;
      top: 2px;
    }

    &:last-child {
      margin-bottom: 2.5rem;
    }

    #{$all-headings} {
      display: none;
    }
  }




  // ---------------------------------------- | Location

  .template-location & {
    @include make-col(3);
    font-family: $font-family-adelle-sans;
    padding-top: 0;
    text-align: left;

    em {
      color: $yellow-light;
      font-style: normal;
    }

    .content-title {
      font-family: $font-family-refrigerator-deluxe;
      font-size: 2.25rem;
      padding-bottom: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 0;

      &:before {
        content: '{ ';
      }

      &:after {
        content: ' }';
      }
    }

    .content-body {
      @extend .border-top-dotted;
      padding-top: 1.5rem;
      line-height: 1.875rem;
    }

    .map {
      border: 2px solid $yellow-dark;
      width: 100%;
    }
  }




  // ---------------------------------------- | Content

  .template-content & {
    margin-bottom: 5.375rem;
    text-align: left;

    .content-title {
      @extend .border-full;
      padding-bottom: 0.625rem;
      margin-bottom: 2.125rem;
    }

    .desc {
      @extend .border-top-dotted;
      padding-top: 1.5rem;
    }

    p {
      line-height: 1.875rem;
    }
  }

}
