&.menu-items {
  font-size: 0;
  margin-bottom: 1.75rem;

  &:last-child {
    border-bottom: 4px solid $yellow-dark;
    position: relative;

    &:after {
      content: ' ';
      position: absolute;
      bottom: 2px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $yellow-dark;
    }

    .menu-item:last-child {
      margin-bottom: 3.25rem;
    }
  }

  .menu-item {
    margin-bottom: 2rem;
    width: 100%;

    @include media-breakpoint-up(md) {
      margin-bottom: 1rem;
      width: calc(100% * (1/3) - 32px);
    }

    .title {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1.5;
      margin-bottom: .375rem;
      padding-right: 2.375rem;

      svg {
        line-height: inherit;
        margin-left: .25rem;
      }
    }

    .price {
      font-size: 1.25rem;
      font-weight: bold;
      line-height: 1;
    }

    .desc {
      font-family: $font-family-adelle-sans;
      font-size: 1rem;
    }
  }
}
