<div class="container" style="clear:both;">
  <header class="jumbotron">
    <div class="lead text-center">
      <h1>Page Not Found</h1>
      <p class="lead">The page you're trying to access cannot be located.<br>Please <%= link_to('contact us', '/contact') %> if you need help.</p>
    </div>
  </header>
</div>