<% obj ||= current_object %>
<header class="jumbotron" <%= bg_img(obj: obj, size: :jumbotron) %>>
  <div class="container">
    <h1><%= obj.title %></h1>
    <div class="desc">
      <%= markdown obj.body if obj.body.present? %>
    </div>
  </div>
</header>
