  <header style="background-image: url(<%= ix_image_url(current_object.attachment.file.path(:jumbotron), auto: 'format,compress') if current_object.try(:attachment).present? %>)">
    <div class="container text-center">
      <h1 class="text-inverted"><%= current_object.title %></h1>
    </div>
  </header>