<div class="jumbotron" style="background-image: url(<%= ix_image_url(current_object.attachment.file.path(:jumbotron), auto: 'format,compress') if current_object.try(:attachment).present? %>)">
  <header>
    <div class="container text-center py-5">
      <h1 class="text-inverted my-5"><%= current_object.title %></h1>
    </div>
  </header>
</div>
