.content-heading {
  border-top: 2px solid $yellow-dark;
  font-family: $font-family-refrigerator-deluxe;
  font-size: 4.125rem;
  margin-bottom: 2.75rem;
  padding-top: 2.75rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  &:before {
    background-color: $yellow-dark;
    content: ' ';
    display: block;
    height: .25rem;
    left: 0;
    position: absolute;
    top: -.5rem;
    width: 100%;
  }
}
