.jumbotron {
  background-color: transparent;
  border-bottom: 1px solid rgba(255,255,255,.1);
  position: relative;
  margin-bottom: 3.75rem;
  padding: 11.625rem 1rem 0;
  min-height: 27.75rem;
  text-align: center;

  @media (max-width: map-get($grid-breakpoints, sm) - 1) {
    padding-top: 6.625rem;
    min-height: 23.75rem;
  }

  .bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;

    &:before {
      background-color: rgba($brown, 0.4);
      content: ' ';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .container {
    overflow: hidden;
  }

  h1 {
    font-family: $font-family-refrigerator-deluxe;
    font-size: 15vw;
    margin-bottom: 3.5rem;
    @media (max-width: map-get($grid-breakpoints, sm) - 1) {
      margin-bottom: 1.5rem;
    }
    text-transform: uppercase;
    z-index: 1;
    overflow: hidden;
    text-align: center;

    @include media-breakpoint-up(sm) {
      font-size: 4.25rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 5.125rem;
    }

    &.decoration span {
      position: relative;

      &:before,
      &:after {
        @include media-breakpoint-up(sm) {
          content: "";
          position: absolute;
          height: .125rem;
          border-bottom: 1px solid $white;
          top: 50%;
          width: 250%;
        }
      }

      &:before {
        @include media-breakpoint-up(sm) {
          right: 100%;
          margin-right: 15px;
        }
      }

      &:after {
        @include media-breakpoint-up(sm) {
          left: 100%;
          margin-left: 15px;
        }
      }
    }
  }



  .desc {
    display: inline-block;
    font-family: $font-family-brothers;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 4.5rem;
    text-transform: uppercase;
  }




  // ---------------------------------------- | Home

  .template-index & {
    padding: 7rem 1rem 0;

    @include media-breakpoint-up(md) {
      padding: 12rem 1rem 6rem;
    }

    .container {
      padding: 0;
    }

    h1 {
      margin: 0;
      font-size: 4rem;

      @include media-breakpoint-up(sm) {
        font-size: 5rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 7.510rem;
      }
      @media screen and (min-width: 1100px) {
        font-size: 10rem;
      }

      &:before,
      &:after {
        content: none;
      }
    }
  }




  // ---------------------------------------- | Devise

  .template-devise & {
    min-height: 21rem;
  }
}
