.jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    font-family: "refrigerator-deluxe", sans-serif;
    text-transform: uppercase;
    font-size: 165px;
  }
}
