.jumbotron {
  background-color: transparent;
  position: relative;
  margin-bottom: 3.75rem;
  padding: 11.625rem 1rem 0;
  min-height: 27.75rem;
  text-align: center;

  .bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;

    &:before {
      background-color: rgba($brown, 0.4);
      content: ' ';
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  .container {
    overflow: hidden;
  }

  h1 {
    font-family: $font-family-refrigerator-deluxe;
    font-size: 4.25rem;
    margin-bottom: 4.5rem;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;

    @include media-breakpoint-up(md) {
      font-size: 5.125rem;
    }

    &:before,
    &:after {
      position: absolute;
      top: 51%;
      overflow: hidden;
      width: 50%;
      height: .125rem;
      content: '\a0';
      background-color: $white;
    }

    &:before {
      margin-left: calc(-50% - 32px);
      text-align: right;
    }

    &:after {
      margin-left: 2rem;
    }
  }


  .desc {
    display: inline-block;
    font-family: $font-family-brothers;
    font-size: 1.25rem;
    line-height: 1.8;
    margin-bottom: 4.5rem;
    text-transform: uppercase;
  }




  // ---------------------------------------- | Home

  .template-index & {
    padding: 16.25rem 1rem 17.5rem;

    @include media-breakpoint-up(lg) {
      padding-left: 8.5rem;
      padding-right: 8.5rem;
    }

    .container {
      padding: 0;
    }

    h1 {
      margin: 0;
      font-size: 4rem;

      @include media-breakpoint-up(sm) {
        font-size: 5rem;
      }
      @include media-breakpoint-up(md) {
        font-size: 7.510rem;
      }
      @media screen and (min-width: 1100px) {
        font-size: 10rem;
      }

      &:before,
      &:after {
        content: none;
      }
    }
  }




  // ---------------------------------------- | Devise

  .template-devise & {
    min-height: 21rem;
  }
}
