// -- See components/_mobile_menu for header menu on small screens

.menu {

  .navbar {
    margin: 3rem;
  }

  .navbar-nav {
    margin-left: auto;
  }

  .nav-link {
    color: $white;
    font-family: $font-family-refrigerator-deluxe;
    font-size: 1.125rem;
    text-transform: uppercase;

    &.active {
      color: $yellow-light;
    }
  }

  .navbar-brand {
    padding: 0;

    img {
      position: relative;
      width: 24rem;
    }
  }

  .navbar-toggler {
    &:focus {
      outline: none;
    }
  }
}
