---
http_interactions:
- request:
    method: put
    uri: https://kitchen1883.blob.core.windows.net/kitchen1883-test/sitemap-test.xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8"?><urlset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
        xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
        xmlns:video="http://www.google.com/schemas/sitemap-video/1.1" xmlns:geo="http://www.google.com/geo/schemas/sitemap/1.0"
        xmlns:news="http://www.google.com/schemas/sitemap-news/0.9" xmlns:mobile="http://www.google.com/schemas/sitemap-mobile/1.0"
        xmlns:pagemap="http://www.google.com/schemas/sitemap-pagemap/1.0" xmlns:xhtml="http://www.w3.org/1999/xhtml"><url><loc>https://www.kitchen1883.com</loc><lastmod>2017-12-14T14:05:21-05:00</lastmod><changefreq>always</changefreq><priority>1.0</priority></url></urlset>
    headers:
      X-Ms-Date:
      - Thu, 14 Dec 2017 19:05:21 GMT
      X-Ms-Version:
      - '2015-04-05'
      Dataserviceversion:
      - 1.0;NetFx
      Maxdataserviceversion:
      - 2.0;NetFx
      Content-Type:
      - application/atom+xml; charset=utf-8
      X-Ms-Blob-Type:
      - BlockBlob
      X-Ms-Blob-Content-Type:
      - text/xml
      Content-Md5:
      - M2EGB7ZQaIWusrr61hf13w==
      Authorization:
      - SharedKey kitchen1883:7WO7OYI3VkYkaE1FAdDyJNAp/t0Uyw+v0+gm22aqRv8=
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Md5:
      - M2EGB7ZQaIWusrr61hf13w==
      Last-Modified:
      - Thu, 14 Dec 2017 19:05:21 GMT
      Etag:
      - '"0x8D543259FB8085C"'
      X-Ms-Version:
      - '2015-04-05'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 14 Dec 2017 19:05:21 GMT
recorded_with: VCR 3.0.3
